Source: ros-hydro-segbot-gui
Section: misc
Priority: extra
Maintainer: Piyush Khandelwal <piyushk@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/segbot_gui
Standards-Version: 3.9.2

Package: ros-hydro-segbot-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-python-qt-binding, ros-hydro-qt-gui, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-std-msgs
Description: Displays a simple GUI to the user. The GUI is capable of displaying a simple message or image to the user, and ask a question. The message and question plugins are also written in this package.
