Source: ros-hydro-segbot-navigation
Section: misc
Priority: extra
Maintainer: "Piyush Khandelwal <piyushk@gmail.com>, Jack O'Quin <jack.oquin@gmail.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/segbot_navigation
Standards-Version: 3.9.2

Package: ros-hydro-segbot-navigation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-amcl, ros-hydro-eband-local-planner, ros-hydro-gmapping, ros-hydro-map-server, ros-hydro-move-base, ros-hydro-navfn, ros-hydro-rviz
Description: segbot_navigation
